# Виртуальные окружения
venv/
myenv/
env/
ENV/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt

# Jupyter
.ipynb_checkpoints/

# PyCharm / VSCode
.idea/
.vscode/
*.swp
*.swo

# Результаты работы скрипта
slides/
*.png
*.jpg
*.jpeg

# Видео (чтобы случайно не закоммитить большие файлы)
*.mp4
*.mkv
*.avi
*.mov
*.webm

# ОС
.DS_Store
Thumbs.db

# Логи
*.log